@import "src/assets/scss/variables";

@mixin form() {
  background: $bg_form;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: #00000054 0px 1px 6px;
}

input {
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-size: 20px;
  font-weight: 400;
}


