.content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
}

.button {
    text-align: center;
    margin-left: auto;
    background-color: #333333;
    color: #FFFFFF;
    padding: 7px 25px 7px 25px;
    border: 1px solid #707070;
    border-radius: 50px;
}

/* Test position btn*/
.conteneurBtn{
  display:block;
  position: relative;
 }

.positionBtn{
  right: 30px;
  position: absolute;
}
/* Fin test */

.container{
/*  margin-left: 5em;
  margin-right: 5em;*/
  margin-left: 10%;
  margin-right: 10%;
}

.card {
    background-color: #FAFAFA;
    border-radius: 8px;
    padding: 8px;
}

#img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
