@import "src/assets/scss/variables";
body {
  margin:0;
  font-size: 25px;
  font-weight: 400;
}

* {
  outline: none;
  font-family: "Raleway", serif;
  user-select: none;
}
a {
  color: inherit;
  text-decoration: none;
  &:hover {
    font-weight: 600;
  }
  margin: 0 1rem;
}

button {
  padding: 1rem 2rem;
  border-radius: 50px;
  border: none;
  color:white;
  box-shadow: #00000029 0px 3px 3px;
  &:hover {
    cursor: pointer;
  }
  &[color="blue"] {
    background: $blue;
  }

  &[color="green"] {
    background: $green;
  }

  &[color="black"] {
    background: $black;
  }

}
