@import "src/assets/scss/variables";

header {
  display: flex;
  align-items: center;
  color: white;
  background: $black;
  padding: 2rem 2rem;
  font-size: 23px;
  font-weight: 300;

  #logo {
    font-size: 35px;
    margin-right: auto;
  }
}
