.wrapper {
    display: grid;
    padding: 5%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }

  .map {
    grid-column: 1 / 2;
    grid-row: 1;
  }
  .text {
    grid-column: 2 /2;
    grid-row: 1;
  }

  .button {
    text-align: center;
}

.content {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
    text-align: center;
} 