<div class="content" role="main">
    <div class="wrapper">  
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25768.096395800192!2d6.017138448063719!3d47.24519222518844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478d62faf0ee130b%3A0x409ce34b313ed30!2s25000%20Besan%C3%A7on!5e0!3m2!1sfr!2sfr!4v1614529896277!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      
        <div class="text">
            <p>VerreTech est une entreprise de verrerie pour les professionnels.<br> 
            Vous pourrez y trouver à la fois de vitraux comme des parois de douches, ou tout autre type de verrerie.<br>
            Cette entreprise fu crée en 1955 par Mr. Emile Dupont, PDG de l'entreprise 
            </p>
            <p>Son chiffre d'affaire de 2017 s'élève à 2,1 millions d'euros</p>
            <p>N'hésitez pas à nous contacter que ce soit pour un devis ou des informations complémentaires au 00-00-00-00-00 ou par mail à ... </p>
        </div>
    </div>
    <button type="submit" class="button" color="blue">Nous contacter</button><br><br>
</div>