<div class="content" role="main">
    <h3 id="title">Modifier mon mot de passe</h3>
    <form [formGroup]="editPasswordForm" class="text-center" id="form" (ngSubmit)="onSubmit()">
        <div class="champ">

            <div class="collabel">
                <label for="currentPassword" class="label">
                    Ancien mot de passe :
                </label>
            </div>

            <div class="colinput">
                <input id="currentPassword" type="password" placeholder="****" class="text-center"
                    formControlName="currentPassword">
            </div>
        </div>

        <div class="champ">

            <div class="collabel">
                <label for="newPassword" class="label">
                    Nouveau mot de passe :
                </label>
            </div>
            <div class="colinput">
                <input id="newPassword" type="password" placeholder="**********" class="text-center"
                    formControlName="newPassword">
            </div>
        </div>

        <div class="champ">
            <div class="collabel">
                <label for="confirmNewPassword" class="label">
                    Confirmer le mot de passe :
                </label>
            </div>

            <div class="colinput">
                <input id="confirmNewPassword" type="password" placeholder="**********" class="text-center"
                    formControlName="confirmNewPassword">
            </div>
        </div>
        <button type="submit" class="button">Sauvegarder</button><br><br>
    </form>
</div>
